/* Form Popup */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9999;
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Form Container */
.form-container {
  text-align: left;
}

/* Form Headers */
.form-container h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Form Labels */
.form-container label {
  font-weight: bold;
}

/* Form Inputs */
.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Form Buttons Container */
.formbtns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Submit Button */
.submit-btn {
  background-color: #0423aa;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 48%;
  opacity: 0.9;
  border-radius: 5px;
  width:auto
}
.btncont{
  width: 50%;
  height: auto;

}
/* Cancel Button */
.form-popup .btncancel {
float: right;
  background-color: #aa0425;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 48%;
  opacity: 0.9;
  border-radius: 5px;
  width:auto
}
